@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  perspective: 1000px;
  background-color: #016f8e;
  display: flex;
  align-items: center;
}

div {
  transform-style: preserve-3d;
}

button {
  cursor: pointer;
  font: 24px "Lilita One", sans-serif;
  color: white;
  background: #108fe8;
  border: 3px solid #fff;
  box-shadow: 0 -2px 0 3px #0d72b8 inset, 0 5px 5px rgba(3, 25, 41, 0.17),
    0 15px rgba(255, 255, 255, 0.25) inset;
  transition: box-shadow 0.1s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.component-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hud-title {
  font: 2rem "Lilita One", sans-serif;
  text-align: center;
  color: white;
}