@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body,
.App {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  perspective: 1000px;
  background-color: #016f8e;
  display: flex;
  align-items: center;
}

div {
  transform-style: preserve-3d;
}

button {
  cursor: pointer;
  font: 24px "Lilita One", sans-serif;
  color: white;
  background: #108fe8;
  border: 3px solid #fff;
  box-shadow: 0 -2px 0 3px #0d72b8 inset, 0 5px 5px rgba(3, 25, 41, 0.17),
    0 15px rgba(255, 255, 255, 0.25) inset;
  transition: box-shadow 0.1s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.component-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.hud-title {
  font: 2rem "Lilita One", sans-serif;
  text-align: center;
  color: white;
}

/* Style the container that holds the content */
.app-container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 28rem;
  margin: 2.5rem auto;
  color: #fff;
}

/* Style the label for the input */
label {
  font-size: 1rem;
  margin: 1rem;
  display: block;
}

/* Style the input field */
input {
  max-width: 90%;
  padding: 0.75rem 1rem;
  border: 2px solid #e2e8f0;
  border-radius: 0.5rem;
  outline: none;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #3182ce;
  box-shadow: 0 0 0 2px rgba(50, 150, 250, 0.3);
}

/* Style the button */
button {
  margin-top: 0.5rem;
  max-width: 90%;
  padding: 1rem;
  background-color: #4299e1;
  color: #fff;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

button:disabled {
  background-color: #cbd5e0;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #3182ce;
}

/* Style the error message */
p.error {
  color: #f56565;
  /* Red */
  margin-top: 0.5rem;
}

/* Style the session code box */
.session-code-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-radius: 0.75rem;
}

/* Style the session code */
.session-code {
  font-size: 1.25rem;
  font-weight: 600;
}

/* Style the copy button */
.copy-button {
  margin-top: 0.75rem;
  padding: 0.5rem 1.25rem;
  background-color: #48bb78;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copy-button:hover {
  background-color: #38a169;
}